
 :root{
    
    --title-text-color:#212121;
    --primary-text-color:#757575;
    --accent-color:#2196F3;
    --primary-bg-color:#ffffff;
    --primary-white-color:#ffffff;
    --button-bg-color:#F5F4FA;
}
h1,h2,h3,h4,p,ul{
    margin: 0;
    padding: 0;
}
/* img {
    display: block;
    max-width: 100%;
    height: auto;
} */
/* Heder */
.page{
    background-color:var(--primary-bg-color);
    color:var(--primary-text-color);
    font-family: Roboto, sans-serif;
}
.conteiner{

    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid  tomato;
}
.main-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
   
    
}

.list{
    
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}
.main-nav .list+.list{
    margin-left: 8px;
}
.main-item{
    display: flex;
    flex-wrap: wrap;
}
/* site-nav */
.link-nav{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
color: var(--title-text-color);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
}

.link-nav:hover, .link-nav:focus {
    color:var(--accent-color);
}
.link-nav.current{
color:var(--accent-color);
}


.site-nav {
    display: flex;
    margin-left: 93px;
}
.site-nav .item+.item{
    margin-left: 50px;
    background-color: #2196F3;
}


.link-navf{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.auth-nav{
    display: flex;
margin-left: auto;
color: var(--primary-text-color);
font-weight: 500;
font-size: 14px;
line-height:1.14;
letter-spacing: 0.02em;
text-decoration: none;
}
.auth-nav:hover, .auth-nav:focus{
    color:var(--accent-color);
}
.auth-nav .item+.item{
    margin-left: 50px;
}


.logo {
   
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.logo-studio {
    color: #000000;
}
.logo-studiow{
    color: #ffffff;
    text-decoration: none;
}

.logo-web {
    color:var(--accent-color);
}
/* Hero */
.hero{
    background-color: #2F303A;
    text-align: center;
}
.button{
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
   
cursor: pointer;
color: var(--title-text-color);
background-color: var(--button-bg-color);
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
text-align: center;


}
.button:hover, .button:focus{
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}
.button.primary{
    color: var(--primary-white-color);
    background-color: var(--accent-color);
font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}
.hero-title{
    margin-top: 0;
    margin-bottom: 30px;
    

    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* Secion */



.section .title{
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    
}
.novisibility{
    visibility: hidden
}
.peculiarities{
    display: flex;
    margin-top: 94px;
    margin-bottom: 124px;


    
}
.peculiarities .item+.item{
    margin-left: 30px;
}
.peculiarities .item{
    width: 270px;
}
.section .team{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.section .work{ 
    line-height: 1.19;
    letter-spacing: 0.03em;  
}
 .works{
    width: 370px;
    display: flex;
    margin-bottom: 158px;
  
}
.works .itemwork+.itemwork{
    margin-left: 30px;
}
 /* .itemcomand{
     width: 270px;
   
    background-color: #e84b4b;
} */
 .command{
    display: flex;
    margin-bottom: 94px;
    
}
.command .itemcomand+.itemcomand{
    margin-left: 30px;
}
.itemcomand{
    text-align: center;
}
.section .title{
margin-bottom: 50px;
}
.section .subtitle{
color: var(--title-text-color);
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.section .paragraph{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.link-portfolio{
    text-decoration: none;
}
.link-portfolio .work{
    
    color: var(--primary-text-color);
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.link-portfolio .team{
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.imgcommand{
    margin-bottom: 30px;
}
.team{
    margin-bottom: 10px;
}
.section.work{
    margin-bottom: 184px;
}
/* footer */
.adress{
    font-style: normal;
   
}
.footer{
    font-style: normal;
    background-color: #2F303A;
   
}
.lfooter{
    margin-bottom: 20px;
}
.footer-par{
font-style: normal;
line-height: 1.7;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.mail{

    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}